__pycache__/
Data/
mod/
Paper/
x86_64/
test*
*.egg-info
*.out
sim_log.txt
*.csv
debug.py
multirun_test.py
*.png
*.jpg
Examples/
paper2.xlsx
meandur.py
figs/
.ipynb_checkpoints/
.mypy_cache/
*.sh
scratch/
NEURON_data/
build/
*.h5
*.bin
build/
