__pycache__/
x86_64/
.ipynb_checkpoints/
.mypy_cache/
build/

Data/
data/
mod/
Paper/
scratch/
NEURON_data/

figs/
Examples/
Dickman_etal_2025_Figures/

sim_log.txt
debug.py
multirun_test.py
paper2.xlsx
meandur.py

.lock~
test*
*.out
*.csv
*.png
*.jpg
*.sh
*.h5
*.bin
*.ipynb
*.egg-info